<button type="button" class="btn btn-primary" style="display: none;" id="post-game" (click)="open_modal()"></button>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">You have {{ result }}</h5>
      </div>
      <div class="modal-body">
        Thank you for playing, we hope you had fun!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="close_game();">Close Game</button>
      </div>
    </div>
  </div>
</div>

<div style="display: block; margin-left: 2px; margin-right: 2px; margin-top: 2px;">
  <h6>Your Grid</h6>
  <div id="grid" style="display: grid; grid-gap: 1em; grid-template-rows: repeat(10, 1fr); grid-template-columns: repeat(10, 1fr);">
    <div [ngClass]="{'cell': true, 'boat': cell === 'b', 'hit': cell === 'h', 'miss': cell === 'm', 'destroyed': cell === 'd'}" *ngFor="let cell of grid; let i=index" [attr.id]="i + 'y'">
      {{ cell }}
    </div>
  </div>
</div>

<div style="display: block; margin-left: 2px; margin-right: 2px; margin-top: 2px;">
  <h6>Opponent's Grid</h6>
  <div id="gridopponent" style="display: grid; grid-gap: 1em; grid-template-rows: repeat(10, 1fr); grid-template-columns: repeat(10, 1fr);">
    <div [ngClass]="{'cell': true, 'hit': cell === 'h', 'miss': cell === 'm', 'destroyed': cell === 'd'}" *ngFor="let cell of opponent_grid; let i=index" [attr.id]="i" (click)="setMove($event);">
      {{ cell }}
    </div>
  </div>
</div>

<button type="button" class="btn btn-success" style="float: right; margin-right: 1%; margin-top: 2%;" (click)="post_move();" [disabled]="!turn">Make Move</button>