<div fxLayout="column" style="height: calc(100vh - 60px);">
    <div fxFlex style="overflow: auto;" id="chat-container">
        <div *ngFor="let message of messages" class="card" [ngStyle]="{'float': getMessageStyle(message.owner_username), 'width': '90%'}" style="margin-top: 1%; margin-bottom: 1%;">
            <div class="card-body">
                <h5 class="card-title">&nbsp;{{ message.owner_username }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ get_date_formatted(message) }}</h6>
                <p class="card-text">{{ message.content }}</p>
            </div>
        </div>
    </div>
    
    <div>
        <app-message-editor [chat_id]="chat._id" [observer_id]="participant_id" (posted)="add_message($event)"></app-message-editor>
    </div>
</div>
