<div style="width: 50%; display: inline-block; margin-left: 2px; margin-right: 2px; margin-top: 2px;">
  <h6>{{ match.playerOne }}'s grid</h6>
  <div id="gridone" style="display: grid; grid-gap: 1em; grid-template-rows: repeat(10, 1fr); grid-template-columns: repeat(10, 1fr);">
    <div [ngClass]="{'cell': true, 'boat': cell === 'b', 'hit': cell === 'h', 'miss': cell === 'm', 'destroyed': cell === 'd'}" *ngFor="let cell of gridPlayerOne; let i=index" [attr.id]="i + 'y'">
      {{ cell }}
    </div>
  </div>
</div>

<div style="width: 50%; display: block; margin-left: 2px; margin-right: 2px; margin-top: 2px;">
  <h6>{{ match.playerTwo }}'s grid</h6>
  <div id="gridtwo" style="display: grid; grid-gap: 1em; grid-template-rows: repeat(10, 1fr); grid-template-columns: repeat(10, 1fr);">
    <div [ngClass]="{'cell': true, 'boat': cell === 'b', 'hit': cell === 'h', 'miss': cell === 'm', 'destroyed': cell === 'd'}" *ngFor="let cell of gridPlayerTwo; let i=index" [attr.id]="i">
      {{ cell }}
    </div>
  </div>
</div>