<div *ngIf="section === 1">
  <div *ngIf="errmessage" class="alert alert-danger" style="margin-top: 1%;" role="alert">{{errmessage}}</div>

  <div *ngIf="alert" class="alert alert-success" style="margin-top: 1%;" role="alert">{{ alert }}</div>
  
  <div style="padding-top: 2%">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active previous-tab" aria-current="page" href="#" (click)="setTabs(1, $event);">Add Moderator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="setTabs(2, $event);">Delete User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="setTabs(3, $event);">Message User</a>
      </li>
      <li class="nav-item ms-auto">
        <form class="form-inline">
          <div class="input-group">
            <input class="form-control" #usernametxt type="text" placeholder="Username">
            <button class="btn btn-outline-success" (click)="open_stats(usernametxt.value); usernametxt.value='';">See User Stats</button>
          </div>
        </form>
      </li>
    </ul>
  </div>

  <div style="width: 400px; margin: auto;" [hidden]="!(tabs===1)">
    <form class="form-signin" style="margin-top: 2%;">
      
      <div class="text-center">  
        <i class="fas fa-envelope loginlogo"></i>
        <h1 class="h3 mb-3 font-weight-normal">Add New Moderator</h1>
      </div>
      
      <div class="form-group" style="padding-bottom: 5%">
        <label for="inputUsername">Username</label>
        <input type="text" #username="ngModel" required name="username" [(ngModel)]="user.username" class="form-control" id="inputUsername" placeholder="Enter Username">
      </div>
    
      <div class="form-group" style="padding-bottom: 15%">
        <label for="inputPassword">Password</label>
        <input type="password" #password="ngModel" required name="password" [(ngModel)]="user.password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    
      <div class="text-center">
        <button class="btn btn-primary btn-block" [disabled]="!password.valid || !username.valid" (click)="post_moderator();">Add New Moderator</button>
      </div>

    </form>
  </div>

  <div style="width: 400px; margin: auto;" [hidden]="!(tabs===2)">
    <form class="form-signin" style="margin-top: 2%;" >
      
      <div class="text-center">  
        <i class="fas fa-envelope loginlogo"></i>
        <h1 class="h3 mb-3 font-weight-normal">Delete User</h1>
      </div>
      
      <div class="form-group" style="padding-bottom: 5%">
        <label for="inputdeleteUsername">Username</label>
        <input type="text" #usernamed="ngModel" required name="username" [(ngModel)]="delete_target.username" class="form-control" id="inputdeleteUsername" placeholder="Enter Username">
      </div>
    
      <div class="text-center">
        <button class="btn btn-danger btn-block" [disabled]="!usernamed.valid" (click)="delete_user();">Delete User</button>
      </div>

    </form>
  </div>

  <div [hidden]="!(tabs===3)">
    <form class="form-inline" style="margin-top: 1%;">
      <div class="input-group">
        <input class="form-control" #usernametxt type="text" placeholder="Username">
        <button class="btn btn-outline-success" (click)="message_user(usernametxt.value);">Message User</button>
      </div>
    </form>
    <div class="panel panel-primary" id="chat_list" style="padding-top: 2%">
      <div class="panel-heading"><h3 class="panel-title">Chats</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let chat of chats">
            <button class="btn bg-transparent text-start w-100" (click)="open_chat(chat._id);">With: {{ usernames[chat._id] }}</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-chat [chat_id]="chat_id" *ngIf="chat_id && section === 2" style="display: block;"></app-chat>
