<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">Battleship</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/play">Play</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/friends">Friends</a>
        </li>
        <li class="nav-item" *ngIf="moderator">
          <a class="nav-link" routerLink="/moderator">Moderator</a>
        </li>
      </ul>
      <form class="form-inline ms-auto">
        <button class="btn btn-sm btn-outline-secondary" type="button" (click)="logout();">Logout</button>
      </form>
    </div>
  </div>
</nav>