<div style="padding-top: 2%">
    <ul class="nav">
        <li class="nav-item" style="padding-right: 2%">
            <button class="btn btn-sm btn-primary btn-block" (click)="setTabs(1);">My Ongoing Matches</button>
        </li>
        <li class="nav-item" style="padding-right: 2%">
            <button class="btn btn-sm btn-primary btn-block" (click)="setTabs(2);">Ongoing Matches</button>
        </li>
        <li class="nav-item ms-auto" style="padding-right: 2%">
            <button class="btn btn-success btn-block" (click)="match_making($event);">{{ match_making_button }}</button>
        </li>
    </ul>
</div>

<div class="panel panel-primary" id="my_ongoing_matches" [hidden]="!(tabs===1)" style="padding-top: 2%">
    <div class="panel-heading"><h3 class="panel-title">My Ongoing Matches</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let match of my_ongoing_matches">
                <button class="btn btn-light" (click)="open_match(match);">{{ match._id }}</button>
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-primary" id="ongoing_matches" [hidden]="!(tabs===2)" style="padding-top: 2%">
    <div class="panel-heading"><h3 class="panel-title">Ongoing Matches</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let match of ongoing_matches">
                <button class="btn btn-light" (click)="observe_match(match);">{{ match._id }}</button>
            </li>
        </ul>
    </div>
</div>